@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e2e4e8;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

.button {
  color: #fff;
  font-size: 205x;
  background-color: #2f4b6b;

  border-radius: 10px;
  width: fit-content;
  padding: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: rgba(81, 105, 141, 1);
  transition: 1s;
}

nav {
  background: linear-gradient(90deg, #0e2133 0%, #2f4b6b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
nav div {
  width: 50%;
}
nav .burguermenu-icon {
  display: none;
}

nav .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
}

nav .logo-container img {
  width: 200px;
}

nav .menu-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

nav .menu-container ul li {
  display: inline-block;
  margin-right: 40px;
  font-size: 25px;
  cursor: pointer;
}

nav .menu-container ul li:hover,
nav .menu-container ul li a:hover {
  color: rgba(172, 224, 255, 1);

  transition: color 0.4s ease;
}
nav .menu-container ul li a {
  text-decoration: none;
  color: #fff;
}
nav.menu-container ul li a:active {
  text-decoration: none;
  color: #fff;
}

nav .menu-container .burguermenu {
  display: none;
  position: relative;
  margin-bottom: 20px;
}

nav .menu-container .burguermenu li {
  margin: 10px;
  display: block;
  text-align: right;
}

.slider {
  overflow-x: hidden;
  position: relative;
}
.slider .slider-container {
  display: flex;
  width: 600vw;
}
.slider .slider-button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0 20px;
}

.slider #prev-button {
  left: 0%;
  transform: translate(0, -50%);
}

.slider #next-button {
  left: 100%;
  transform: translate(-100%, -50%);
}

.slider-container .card-container {
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  height: 100vh;
  width: 100vw;
}

.slider-container .card-container .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-container .card-container .left-container .bullet {
  margin: 10px 0;
  font-weight: 300;
}
.button {
  color: #fff;
  font-size: 20px;
  background-color: #2f4b6b;

  border-radius: 10px;
  width: fit-content;
  padding: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: rgba(81, 105, 141, 1);
  transition: 1s;
}

.slider-container .card-container .left-container .button-slider-card {
  font-size: 205x;

  width: fit-content;
  padding: 15px;
  margin-top: 30px;
}

.top-machine-detail {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 20px;
}

.slider-container .card-container .left-container .top-machine-detail .detail {
  width: 10px;
  background-color: #2f4b6b;
  height: 100%;
}

.slider-container .card-container .right-container {
  display: flex;
  justify-content: center;
}
.slider-container .card-container .right-container img {
  width: 100%;
}

.aplications-section {
  display: flex;
  justify-content: center;
}
.aplications-section .aplications-container {
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 100px;
  padding: 80px 30px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.28);
  width: 90%;
}
.aplications-section .aplications-container-mobile {
  display: none;
}
.aplications-section .aplications-container .title {
  font-size: 3.5rem;
  font-weight: 600;
}

.aplications-section .aplications-container .tags-group {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.aplications-section .aplications-container .tags-group .tag {
  margin-left: 30px;
  cursor: pointer;
}
.aplications-section .aplications-container .tags-group .selected {
  font-weight: 800;
}
.aplications-section .aplications-container .tags-group .tag:not(:last-child) {
  border-right: solid #666;
  padding-right: 30px;
}

.aplications-section .aplications-container .apliactions-filtered {
  display: flex;
  justify-content: center;
}
.aplications-section
  .aplications-container
  .apliactions-filtered
  .aplication-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.aplications-section .aplications-container .apliactions-filtered img {
  width: 300px;
  margin-bottom: 20px;
}

@media (max-width: 1850px) {
  .aplications-section .aplications-container .apliactions-filtered img {
    width: 200px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1245px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  nav .burguermenu-icon {
    display: block;
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
  }
  nav .menu-container .desktop-menu-list {
    display: none;
  }
  .slider {
    margin: 100px 0;
  }

  .slider-container .card-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .aplications-section .aplications-container .title {
    font-size: 40px;
  }

  .slider-container .card-container .right-container img {
    width: 400px;
  }

  .aplications-section .aplications-container {
    display: block;
  }

  .aplications-section .aplications-container .apliactions-filtered {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .aplications-section .aplications-container .apliactions-filtered img {
    width: 120px;
    margin-bottom: 20px;
  }

  .aplications-section .aplications-container .tags-group {
  }

  .aplications-section .aplications-container-mobile .apliactions-filtered {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .aplications-section-mobile .aplications-container .apliactions-filtered img {
    width: 120px;
    margin-bottom: 20px;
  }

  .aplications-section .aplications-container-mobile .tags-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

@media (max-width: 776px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  nav {
    flex-direction: column;
  }

  nav div {
    width: 100%;
  }

  nav .logo-container img {
    width: 100px;
  }
  nav .menu-container {
    padding: 0;
  }

  .slider-container .card-container {
    gap: 50px;
  }
  .slider-container .card-container .right-container img {
    width: 200px;
  }
  .slider-container .card-container .left-container {
    width: 250px;
    text-align: center;
    align-items: center;
  }
  .slider-container
    .card-container
    .left-container
    .top-machine-detail
    .detail {
    width: 5px;
    height: 20px;
  }

  .slider-container .card-container .left-container .top-machine-detail {
    margin-bottom: 20px;
  }

  .slider-container .card-container .left-container .bullet {
    margin: 10px 0;
  }
  .aplications-section .aplications-container {
    display: none;
  }
  .aplications-section .aplications-container-mobile {
    display: block;
    background-color: #f6f6f6;
    text-align: center;
    margin-bottom: 100px;
    padding: 80px 30px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.28);
    width: 90%;
    overflow-x: hidden;
    position: relative;
  }
  .aplications-section .aplications-container-mobile .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .aplications-section .aplications-container-mobile .cards-container {
    display: flex;
    overflow-x: hidden;
    width: 500%;
  }
  .mobile-aplication-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .aplications-section .aplications-container-mobile .cards-container .card {
    width: 100%;
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .tag {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered
    img {
    width: 100px;
    margin-bottom: 20px;
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered
    .aplication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .aplications-container-mobile .slider-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0 20px;
    z-index: 10;
  }

  .aplications-container-mobile #prev-button-mobile {
    left: 0%;
    transform: translate(0, -50%);
  }

  .aplications-container-mobile #next-button-mobile {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
