.grey-background {
  background-color: #f5f5f5;
}

.herramentales-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  overflow-x: hidden;
}

.herramentales-section .info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0 1.5em;
}

.herramentales-section .info-left {
  align-items: flex-end;
}

.herramentales-section .info-rigth {
  align-items: flex-start;
}

.herramentales-section .info-container .brand-label {
  /* Estilos para brand-label */
}

.herramentales-section .info-container .title {
  font-size: 2em;
  font-weight: bold;
}

.herramentales-section .info-container .bullet-container {
  margin-top: 1.5em;
}

.herramentales-section .info-container .bullet-container .title-bullets {
  text-decoration: underline;
  margin-bottom: 1em;
}

.herramentales-section .info-container .bullet-container .bullet {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.herramentales-section
  .info-container
  .bullet-container
  .bullet
  .bullet-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 15px;
}

.herramentales-section .img-container {
  width: 50%;
  display: flex;
  padding: 0 1.5em;
}

.herramentales-section .img-left {
  justify-content: flex-end;
}

.herramentales-section .img-rigth {
  justify-content: flex-start;
}

.herramentales-section .img-container img {
  max-width: 25em;
}

@media (width <= 768px) {
  .sections-container .reverse-column {
    flex-direction: column-reverse;
  }
  .herramentales-section {
    flex-direction: column;
    margin-bottom: 4em;
  }

  .herramentales-section .info-left,
  .herramentales-section .info-rigth {
    align-items: center;
  }

  .herramentales-section .info-container,
  .herramentales-section .img-container {
    width: 100%;
    padding: 0 2em;
  }

  .herramentales-section .img-container img {
    max-width: 10em;
  }
  .herramentales-section .img-left {
    justify-content: center;
  }

  .herramentales-section .img-rigth {
    justify-content: center;
  }
}
@media (width >= 1800px) {
  .herramentales-section .info-container {
    padding: 0 8em;
  }
  .herramentales-section .img-container {
    padding: 0 10em;
  }
}
