* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.contacto {
  padding-left: 30px;
  font-size: 45px;
}
.contacText {
  font-size: 22px;
  line-height: 27.5px;
  padding-bottom: 20px;
  color: #1e1e1e;
}
.grid3Columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.centerItem {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contactIcon {
  width: 56px;
  height: 56px;
  margin-bottom: 15px;
}
.wrtiteTitle {
  text-align: center;
}
.gridForm {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
.grid2columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.formItem {
  text-align: center;
}
.sendBtn {
  margin: auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 144px;
  height: 55px;
}
.btnCss {
  font-size: 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
  background-color: #2f4b6b;
}
.logo {
  width: 269px;
  height: 90px;
}
input[type="text"],
input[type="email"] {
  padding-left: 10px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 25px;
  text-align: left;
  border: 1px solid black;
  background-color: #e2e4e8;
}
input:focus {
  outline: none;
}
.footerTxt {
  display: grid;
  place-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.visitUs {
  justify-content: space-between;
  display: flex;
  text-align: center;
  margin-top: 100px;
  background-color: #2f4b6b;
  color: #f6f6f6;
}
.visitTitle {
  font-weight: bold;
  line-height: 85px;
}
.visitSubtitle {
  font-weight: 300;
  margin-bottom: 20px;
}
.dirTxt {
  font-weight: bold;
  font-size: 28px;
}
.message {
  border-radius: 8px;
  border: 1px solid black;
}
#campo4 {
  border-width: 0px;
}
.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rights {
  place-items: center;
  grid-column: 1 / span 3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.grid {
  display: grid;
}
.paddingB {
  padding-bottom: 30px;
}
.paddingB90 {
  padding-bottom: 90px;
}
.paddT50 {
  padding-top: 50px;
}
.paddT10 {
  padding-top: 10px;
}
.marB25 {
  margin-bottom: 25px;
}
.color1e {
  color: #1e1e1e;
}
.colorf6 {
  color: #f6f6f6;
}
.px45 {
  font-size: 45px;
}
.px24 {
  font-size: 24px;
}
.px28 {
  font-size: 28px;
}
.px25 {
  font-size: 25px;
}
.mAuto {
  margin: auto;
}
.width50 {
  width: 50%;
}
.width55 {
  width: 55%;
}
.width100 {
  width: 100%;
}
.height50 {
  height: 50px;
}
.height100 {
  height: 100px;
}
.bold {
  font-weight: bold;
}

@media (max-width: 885px) and (min-width: 777px) {
  input[type="text"],
  input[type="email"] {
    font-size: 18px;
  }
}
@media (max-width: 776px) {
  input[type="text"],
  input[type="email"] {
    min-width: 45px;
    width: 100%;
  }
  .textCenter {
    text-align: center;
  }
  .contacto {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .contacText {
    font-size: 18px;
  }
  .grid3Columns {
    grid-template-columns: 1fr;
  }
  .rights {
    grid-column: 1;
  }
  .grid2columns {
    grid-template-columns: 1fr;
  }
  .footerTxt {
    padding-top: 20px;
  }
  #telMen {
    margin-bottom: 50px;
  }
  #campo1,
  #campo2,
  #campo3,
  #campo4 {
    height: 32px;
  }
  #campo1 {
    margin-bottom: 10px;
  }
  .gridForm {
    margin-left: 10px;
    margin-right: 10px;
  }
  #visit {
    font-size: 20px;
  }
  .visitSubtitle {
    font-size: 16px;
  }
  .dirTxt {
    font-size: 18px;
  }
  .imageR,
  .imageL {
    position: relative;
  }
  .visitUs {
    height: 378px;
  }
  .dotsL,
  .dotsR {
    height: 378px;
  }
  .dotsL {
    position: absolute;
  }
  .dotsR {
    position: absolute;
    top: 0;
    right: 0;
  }
}
