@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e2e4e8;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto de su contenedor */
}

.button {
  color: #fff;
  font-size: 205x;
  background-color: #2f4b6b;

  border-radius: 10px;
  width: fit-content;
  padding: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: rgba(81, 105, 141, 1);
  transition: 1s;
}

nav {
  background: linear-gradient(90deg, #0e2133 0%, #2f4b6b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
nav div {
  width: 50%;
}
nav .burguermenu-icon {
  display: none;
}

nav .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
}

nav .logo-container img {
  width: 200px;
}

nav .menu-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

nav .menu-container ul li {
  display: inline-block;
  margin-right: 40px;
  font-size: 20px;
  cursor: pointer;
}

nav .menu-container ul li:hover,
nav .menu-container ul li a:hover {
  color: rgba(172, 224, 255, 1);

  transition: color 0.4s ease;
}
nav .menu-container ul li a {
  text-decoration: none;
  color: #fff;
}
nav.menu-container ul li a:active {
  text-decoration: none;
  color: #fff;
}

nav .menu-container .burguermenu {
  display: none;
  position: relative;
  margin-bottom: 20px;
}

nav .menu-container .burguermenu li {
  margin: 10px;
  display: block;
  text-align: right;
}

.slider {
  overflow-x: hidden;
  position: relative;
}
.slider .slider-container {
  display: flex;
  width: 600vw;
}
.slider .slider-button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0 20px;
}

.slider #prev-button {
  left: 0%;
  transform: translate(0, -50%);
}

.slider #next-button {
  left: 100%;
  transform: translate(-100%, -50%);
}

.slider-container .card-container {
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.slider-container .card-container .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 2em;
}

.slider-container .card-container .left-container .bullet {
  margin: 10px 0;
  font-weight: 300;
}
.button {
  color: #fff;
  font-size: 20px;
  background-color: #2f4b6b;

  border-radius: 10px;
  width: fit-content;
  padding: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: rgba(81, 105, 141, 1);
  transition: 1s;
}

.slider-container .card-container .left-container .button-slider-card {
  font-size: 1.1em;
  width: fit-content;
  padding: 15px;
  margin-top: 30px;
}

.top-machine-detail {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 20px;
}

.slider-container .card-container .left-container .top-machine-detail .detail {
  width: 10px;
  background-color: #2f4b6b;
  height: 100%;
}

.slider-container .card-container .right-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.slider-container .card-container .right-container img {
  width: 100%;
}

.aplications-section {
  display: flex;
  justify-content: center;
}
.aplications-section .aplications-container {
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 100px;
  padding: 80px 30px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.28);
  width: 90%;
}
.aplications-section .aplications-container-mobile {
  display: none;
}
.aplications-section .aplications-container .title {
  font-size: 3.5rem;
  font-weight: 600;
}

.aplications-section .aplications-container .tags-group {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.aplications-section .aplications-container .tags-group .tag {
  margin-left: 30px;
  cursor: pointer;
}
.aplications-section .aplications-container .tags-group .selected {
  font-weight: 800;
}
.aplications-section .aplications-container .tags-group .tag:not(:last-child) {
  border-right: solid #666;
  padding-right: 30px;
}

.aplications-section .aplications-container .apliactions-filtered {
  display: flex;
  justify-content: center;
}
.aplications-section
  .aplications-container
  .apliactions-filtered
  .aplication-card {
  display: flex;
  padding-bottom: 25px;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.aplication-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.aplications-section .aplications-container .apliactions-filtered img {
  width: 100%;
  margin-bottom: 20px;
}

.footerButton {
  cursor: pointer;
}

@media (max-width: 1850px) {
  .aplications-section .aplications-container .apliactions-filtered img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1400px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  nav .menu-container .desktop-menu-list li {
    font-size: 20px;
  }
}

@media (max-width: 1245px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  nav .burguermenu-icon {
    display: block;
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
  }
  nav .menu-container .desktop-menu-list {
    display: none;
  }
  .slider {
    margin: 100px 0;
  }

  .slider-container .card-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .aplications-section .aplications-container .title {
    font-size: 40px;
  }

  .slider-container .card-container .right-container img {
    width: 400px;
  }

  .aplications-section .aplications-container {
    display: block;
  }

  .aplications-section .aplications-container .apliactions-filtered {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
  }
  .aplications-section .aplications-container .apliactions-filtered img {
    width: 100%;
    margin-bottom: 20px;
  }

  .aplications-section .aplications-container .tags-group {
  }

  .aplications-section .aplications-container-mobile .apliactions-filtered {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .aplications-section-mobile .aplications-container .apliactions-filtered img {
    width: 120px;
    margin-bottom: 20px;
  }

  .aplications-section .aplications-container-mobile .tags-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

@media (max-width: 776px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  nav {
    flex-direction: column;
  }

  nav div {
    width: 100%;
  }

  nav .logo-container img {
    width: 100px;
  }
  nav .menu-container {
    padding: 0;
  }

  .slider-container .card-container {
    gap: 50px;
  }
  .slider-container .card-container .left-container {
    padding: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .slider-container
    .card-container
    .left-container
    .top-machine-detail
    .detail {
    width: 5px;
    height: 20px;
  }

  .slider-container .card-container .left-container .top-machine-detail {
    margin-bottom: 20px;
  }

  .slider-container .card-container .left-container .bullet {
    margin: 10px 0;
  }
  .aplications-section .aplications-container {
    display: none;
  }
  .aplications-section .aplications-container-mobile {
    display: block;
    background-color: #f6f6f6;
    text-align: center;
    margin-bottom: 100px;
    padding: 80px 30px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.28);
    width: 90%;
    overflow-x: hidden;
    position: relative;
  }
  .aplications-section .aplications-container-mobile .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .aplications-section .aplications-container-mobile .cards-container {
    display: flex;
    overflow-x: hidden;
    width: 500%;
  }
  .mobile-aplication-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .aplications-section .aplications-container-mobile .cards-container .card {
    width: 100%;
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .tag {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered
    img {
    width: 100px;
    margin-bottom: 20px;
  }
  .aplications-section
    .aplications-container-mobile
    .cards-container
    .card
    .apliactions-filtered
    .aplication-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .aplications-container-mobile .slider-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0 20px;
    z-index: 10;
  }

  .aplications-container-mobile #prev-button-mobile {
    left: 0%;
    transform: translate(0, -50%);
  }

  .aplications-container-mobile #next-button-mobile {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}

/* Jarv part */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.contacto {
  padding-left: 100px;
  font-size: 45px;
}
.contacText {
  font-size: 22px;
  line-height: 27.5px;
  padding-bottom: 20px;
  color: #1e1e1e;
}
.grid3Columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.centerItem {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contactIcon {
  width: 56px;
  height: 56px;
  margin-bottom: 15px;
}
.wrtiteTitle {
  text-align: center;
}
.gridForm {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
.grid2columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.formItem {
  text-align: center;
}
.sendBtn {
  margin: auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 144px;
  height: 55px;
}
.btnCss {
  font-size: 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
  background-color: #2f4b6b;
}
.logo {
  width: 269px;
  height: 90px;
}
input[type="text"],
input[type="email"] {
  padding-left: 10px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 25px;
  text-align: left;
  border: 1px solid black;
  background-color: #e2e4e8;
}
input:focus {
  outline: none;
}
.footerTxt {
  display: grid;
  place-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.visitUs {
  justify-content: space-between;
  display: flex;
  text-align: center;
  margin-top: 100px;
  background-color: #2f4b6b;
  color: #f6f6f6;
}
.visitTitle {
  font-weight: bold;
  line-height: 85px;
}
.visitSubtitle {
  font-weight: 300;
  margin-bottom: 20px;
}
.dirTxt {
  font-weight: bold;
  font-size: 28px;
}
.message {
  border-radius: 8px;
  border: 1px solid black;
}
#campo4 {
  border-width: 0px;
}
.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rights {
  place-items: center;
  grid-column: 1 / span 3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.grid {
  display: grid;
}
.paddingB {
  padding-bottom: 30px;
}
.paddingB90 {
  padding-bottom: 90px;
}
.paddingB40 {
  padding-bottom: 40px;
}
.paddT50 {
  padding-top: 50px;
}
.paddT10 {
  padding-top: 10px;
}
.marB25 {
  margin-bottom: 25px;
}
.color1e {
  color: #1e1e1e;
}
.colorf6 {
  color: #f6f6f6;
}
.px45 {
  font-size: 45px;
}
.px24 {
  font-size: 24px;
}

.px25 {
  font-size: 25px;
}
.mAuto {
  margin: auto;
}
.width50 {
  width: 50%;
}
.width55 {
  width: 55%;
}
.width100 {
  width: 100%;
}
.height50 {
  height: 50px;
}
.height100 {
  height: 100px;
}

@media (max-width: 885px) and (min-width: 777px) {
  input[type="text"],
  input[type="email"] {
    font-size: 18px;
  }
}
@media (max-width: 776px) {
  input[type="text"],
  input[type="email"] {
    min-width: 45px;
    width: 100%;
  }
  .textCenter {
    text-align: center;
  }
  .contacto {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .contacText {
    font-size: 18px;
  }
  .grid3Columns {
    grid-template-columns: 1fr;
  }
  .rights {
    grid-column: 1;
  }
  .grid2columns {
    grid-template-columns: 1fr;
  }
  .footerTxt {
    padding-top: 20px;
  }
  #telMen {
    margin-bottom: 50px;
  }
  #campo1,
  #campo2,
  #campo3,
  #campo4 {
    height: 32px;
  }
  #campo1 {
    margin-bottom: 10px;
  }
  .gridForm {
    margin-left: 10px;
    margin-right: 10px;
  }
  #visit {
    font-size: 20px;
  }
  .visitSubtitle {
    font-size: 16px;
  }
  .dirTxt {
    font-size: 18px;
  }
  .imageR,
  .imageL {
    position: relative;
  }
  .visitUs {
    height: 378px;
  }
  .dotsL,
  .dotsR {
    height: 378px;
  }
  .dotsL {
    position: absolute;
  }
  .dotsR {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .slider-container .card-container .right-container img {
    width: 200px;
  }
  .slider-container .card-container {
    padding: 0px 50px;
  }
}
